<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name ="MyDBConnectionString"
         providerName ="MySql.Data.MySqlClient"
         connectionString ="Data Source = data/pvaultinfo_programDB.sqlite; Password = dragon123; Version = 3;"
      />
    <add name ="DataConnectionString"
         providerName ="MySql.Data.MySqlClient"
         connectionString ="Data Source = data/pvaultinfo_offlineDB.sqlite; Password = drake123; Version = 3;"
      />
  </connectionStrings>
</configuration>

<!--
  File: app.config
  Created: September 18, 2014  
  
  Copyright (c) 2014 Eric Liang http://www.eric-liang.com
  
  This file is part of PassVault.
  
  PassVault is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  PassVault is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with PassVault.  If not, see <http://www.gnu.org/licenses/>. 
 
-->
